.root {
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-background-color: darkgrey;
	-fx-hgap: 10;
	-fx-vgap: 10;
}

.button {
  -fx-font-weight: normal;
}

.check-box{
	-fx-font-size: 15px;
	-fx-font-weight: normal;
}
.check-box>.box {
  -fx-font-size: 20px;
  -fx-background-color: transparent;
}
.check-box>.box>.mark {
  -fx-background-image: url("images/empty.png");
  -fx-background-position: center;
  -fx-background-repeat: stretch;
  -fx-shape: none;
}
.check-box:selected>.box>.mark{
  -fx-background-color: transparent;
  -fx-background-image: url("images/complete.png");
}

.scroll-pane {
	-fx-pref-height: 4000;
	-fx-pref-width: 4000;
}
.scroll-pane > .viewport {
	-fx-background-color: lightgray;
	
}
#infoPane {
	-fx-background-color: lightgray;
}
